package home

import "github.com/mjmarrazzo/maintenance-app/internal/views/common"

templ Dashboard() {
	@common.Page("Dashboard") {
		<main>
			<h1>Dashboard</h1>
			<p>Welcome to the dashboard!</p>
			<p>Here you can find an overview of your data and activities.</p>
		</main>
	}
}
